/**/
body {
  background-image: url("https://mfiles.alphacoders.com/776/77617.jpg");
  font-family:  Times;
  font-size: 20px;
}

input {
  border-radius: 10px;
  border: 0px;
}

select {
  width: 200px; 
  height: 30px;
  border-radius: 10px;
 }

h1 {
  margin-top: 8px;
  font-size: 25px;
  font-weight: bold;
}

.container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.cad {
  margin-left: 10px;
  margin-top: 20%;
}
#btn {
  width: 130px;

  margin-left:13%;
  margin-top: 30px;
}